
@{
    Layout = "~/Views/Shared/_LayoutWithoutHeaderFooter.cshtml";
    ViewBag.Title = "Şifrə Bərpası";

}

<!-- Main Content -->
<section class="pageWrapperForIndex notheader">
    <div id="AccountBox" class="forForgot">
        <div class="row">
            <div class="col-md-12 mb-4 mt-4">
                <h3>Şifrə bərpası</h3>
                <hr>
            </div>
            <div class="col-md-12">
                <form action="#" method="#">
                    <div class="inputBox mb-3">
                        <i class="fas fa-envelope mr-3"></i>
                        <input placeholder="Email" type="email">
                    </div>

                    <div class="inputBox submitBox mb-3">
                        <input type="submit" value="Göndər">
                        <a href="/Home/Index"><input type="button" value="Geri"></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Main Content -->