@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Daxil ol";
}

<!-- Main Content -->
<section class="pageWrapperForIndex">

    <!-- Site slider -->
    <div class="mainSlider">
        <div id="particle" class="particleMain"></div>
        <div class="container">
            <div class="row sliderRow">
                <!-- <div class="sliderContentBox"> -->
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="sliderWord">
                        <h1 class="">Kodundakı errorları birlikdə həll edək!</h1>
                        <p>Paylaşaraq yeni biliklər öyrənək</p>
                        <hr>
                        <br>
                        <a href="/Account/Register">INDI BAŞLA</a>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 col-12">
                    <div class="sliderImg">
                    </div>
                </div>
                <!-- </div> -->
            </div>

        </div>
    </div>
    <!-- end Site slider -->
    <!-- stepTutorial -->
    <div class="stepTutorial">
        <div class="container">
            <div class="row stepRow">
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="stepIcon mb-2">
                        <div class="circleForIcon">
                            <i class="fas fa-copy"></i>
                        </div>
                    </div>
                    <div class="stepWord">
                        <h4>Kodundakı problemi kopyala</h4>
                    </div>
                    <hr>

                </div>

                <div class="col-md-4 col-sm-4 col-12">
                    <div class="stepIcon mb-2">
                        <div class="circleForIcon">
                            <i class="fas fa-share-square"></i>

                        </div>

                    </div>
                    <div class="stepWord">
                        <h4>Form vasitəsi ilə paylaş</h4>
                    </div>
                    <hr>

                </div>
                <div class="col-md-4 col-sm-4 col-12">
                    <div class="stepIcon mb-2">
                        <div class="circleForIcon">
                            <i class="fas fa-check-circle"></i>

                        </div>



                    </div>
                    <div class="stepWord">
                        <h4>Həll yolunu tap!</h4>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
    </div>
    <!-- end stepTutorial -->



</section>
<!-- Main Content -->
